<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> LoginForm </title>

        <!-- CSS -->
        <link rel="stylesheet" href="static/login.css">

                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login</header>
                    <form action="/signup" method="post">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" name="email" class="input" required>
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Password" name="password" class="password" required>
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <button>Login
                                <a type="button" href="/">Login</a>
                            </button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Don't have an account? <a href="/signup">Signup</a></span>
                    </div>
                </div>


            </div>        
        </section>
    </body>
</html>
